extends layout

block content
  h1 Blog App
  p.
    This API allows a user to get a list of posts and create posts.
    It was created just for testing purposes.
    It requires no authentication and the database is reset regularly.
  p Under Construction

  h3 Api structure
  p for posts, post: title, author, category, content, photo URL

  h3 API Documentation

  h4 GET
    code /api/posts
  p response:
  .code-snippet
    pre
      code.
        posts: [
          {
            title: "Post title",
            author: "Alice Bowman",
            category: "sports",
            content: "..."
            photoURL: "https://somephotohost.com/123"
          },
          {...},
          {...},
          {...}
        ]
  
  h4 POST
    code /api/posts

  p request body (all fields are required):
  .code-snippet
    pre
      code.
        post: {
          title: "Post title",
          author: "Alice Bowman",
          category: "sports",
          content: "..."
          photoURL: "https://somephotohost.com/123"
        }

  h3 TODO:
  ul
    li Category can be: entertainment, travel, sports, banana;
    li deploy to heroku;
    li reset/seeded every 24h?;
     
    
